[submodule "vendor/ethereum"]
	path = vendor/ethereum
	url = https://github.com/rust-blockchain/ethereum
[submodule "vendor/substrate"]
	path = vendor/substrate
	url = https://github.com/paritytech/substrate
