**/target/
**/node_modules/
**/*.rs.bk
*.swp
.wasm-binaries
polkadot/runtime/wasm/target/
core/executor/wasm/target/
core/test-runtime/wasm/target/
pwasm-alloc/target/
pwasm-libc/target/
pwasm-alloc/Cargo.lock
pwasm-libc/Cargo.lock
node/runtime/wasm/target/
**/._*
**/.criterion/
polkadot.*
.DS_Store
.cargo-remote.toml

# Editors
.vscode
.idea/
.zed

# Added by cargo
/target

# Vitepress
/docs/.vitepress/cache
/docs/.vitepress/dist

# NixOS development environment
.envrc
