[package]
name = "frontier-template-runtime"
version = "0.0.0"
authors = ["Substrate DevHub <https://github.com/substrate-developer-hub>"]
edition = "2021"
license = "Unlicense"
description = "A fresh FRAME-based Substrate runtime, ready for hacking."
publish = false

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
serde = { version = "1.0", features = ["derive"], optional = true }

# Parity
codec = { package = "parity-scale-codec", version = "3.2.1", default-features = false, features = ["derive"] }
scale-info = { version = "2.3.0", default-features = false, features = ["derive"] }

# Substrate
sp-api = { git = "https://github.com/humanode-network/substrate", branch = "locked/humanode-2022-11-23", default-features = false }
sp-block-builder = { git = "https://github.com/humanode-network/substrate", branch = "locked/humanode-2022-11-23", default-features = false }
sp-consensus-aura = { git = "https://github.com/humanode-network/substrate", branch = "locked/humanode-2022-11-23", default-features = false }
sp-core = { git = "https://github.com/humanode-network/substrate", branch = "locked/humanode-2022-11-23", default-features = false }
sp-inherents = { git = "https://github.com/humanode-network/substrate", branch = "locked/humanode-2022-11-23", default-features = false }
sp-io = { git = "https://github.com/humanode-network/substrate", branch = "locked/humanode-2022-11-23", default-features = false }
sp-offchain = { git = "https://github.com/humanode-network/substrate", branch = "locked/humanode-2022-11-23", default-features = false }
sp-runtime = { git = "https://github.com/humanode-network/substrate", branch = "locked/humanode-2022-11-23", default-features = false }
sp-session = { git = "https://github.com/humanode-network/substrate", branch = "locked/humanode-2022-11-23", default-features = false }
sp-std = { git = "https://github.com/humanode-network/substrate", branch = "locked/humanode-2022-11-23", default-features = false }
sp-transaction-pool = { git = "https://github.com/humanode-network/substrate", branch = "locked/humanode-2022-11-23", default-features = false }
sp-version = { git = "https://github.com/humanode-network/substrate", branch = "locked/humanode-2022-11-23", default-features = false }
# Substrate FRAME
frame-executive = { git = "https://github.com/humanode-network/substrate", branch = "locked/humanode-2022-11-23", default-features = false }
frame-support = { git = "https://github.com/humanode-network/substrate", branch = "locked/humanode-2022-11-23", default-features = false }
frame-system = { git = "https://github.com/humanode-network/substrate", branch = "locked/humanode-2022-11-23", default-features = false }
pallet-aura = { git = "https://github.com/humanode-network/substrate", branch = "locked/humanode-2022-11-23", default-features = false }
pallet-balances = { git = "https://github.com/humanode-network/substrate", branch = "locked/humanode-2022-11-23", default-features = false }
pallet-grandpa = { git = "https://github.com/humanode-network/substrate", branch = "locked/humanode-2022-11-23", default-features = false }
pallet-sudo = { git = "https://github.com/humanode-network/substrate", branch = "locked/humanode-2022-11-23", default-features = false }
pallet-timestamp = { git = "https://github.com/humanode-network/substrate", branch = "locked/humanode-2022-11-23", default-features = false }
pallet-transaction-payment = { git = "https://github.com/humanode-network/substrate", branch = "locked/humanode-2022-11-23", default-features = false }
## Used for runtime api
frame-system-rpc-runtime-api = { git = "https://github.com/humanode-network/substrate", branch = "locked/humanode-2022-11-23", default-features = false }
pallet-transaction-payment-rpc-runtime-api = { git = "https://github.com/humanode-network/substrate", branch = "locked/humanode-2022-11-23", default-features = false }
## Used for runtime benchmarking
frame-benchmarking = { git = "https://github.com/humanode-network/substrate", branch = "locked/humanode-2022-11-23", default-features = false, optional = true }
frame-system-benchmarking = { git = "https://github.com/humanode-network/substrate", branch = "locked/humanode-2022-11-23", default-features = false, optional = true }

# Frontier
fp-rpc = { path = "../../primitives/rpc", default-features = false }
fp-self-contained = { path = "../../primitives/self-contained", default-features = false }
# Frontier FRAME
pallet-base-fee = { path = "../../frame/base-fee", default-features = false }
pallet-dynamic-fee = { path = "../../frame/dynamic-fee", default-features = false }
pallet-ethereum = { path = "../../frame/ethereum", default-features = false }
pallet-evm = { path = "../../frame/evm", default-features = false }
pallet-evm-chain-id = { path = "../../frame/evm-chain-id", default-features = false }
pallet-evm-precompile-modexp = { path = "../../frame/evm/precompile/modexp", default-features = false }
pallet-evm-precompile-sha3fips = { path = "../../frame/evm/precompile/sha3fips", default-features = false }
pallet-evm-precompile-simple = { path = "../../frame/evm/precompile/simple", default-features = false }
pallet-hotfix-sufficients = { path = "../../frame/hotfix-sufficients", default-features = false }

[build-dependencies]
substrate-wasm-builder = { git = "https://github.com/humanode-network/substrate", branch = "locked/humanode-2022-11-23" }

[features]
default = ["std", "aura", "with-rocksdb-weights"]
aura = []
manual-seal = ["with-rocksdb-weights"]
with-rocksdb-weights = []
with-paritydb-weights = []
std = [
	"serde",
	# Parity
	"codec/std",
	"scale-info/std",
	# Substrate
	"sp-api/std",
	"sp-block-builder/std",
	"sp-consensus-aura/std",
	"sp-core/std",
	"sp-inherents/std",
	"sp-io/std",
	"sp-offchain/std",
	"sp-runtime/std",
	"sp-session/std",
	"sp-std/std",
	"sp-transaction-pool/std",
	"sp-version/std",
	# Substrate FRAME
	"frame-executive/std",
	"frame-support/std",
	"frame-system/std",
	"pallet-aura/std",
	"pallet-balances/std",
	"pallet-grandpa/std",
	"pallet-sudo/std",
	"pallet-timestamp/std",
	"pallet-transaction-payment/std",
	## Used for runtime api
	"frame-system-rpc-runtime-api/std",
	"pallet-transaction-payment-rpc-runtime-api/std",
	# Frontier
	"fp-rpc/std",
	"fp-self-contained/std",
	# Frontier FRAME
	"pallet-base-fee/std",
	"pallet-dynamic-fee/std",
	"pallet-ethereum/std",
	"pallet-evm/std",
	"pallet-evm-chain-id/std",
	"pallet-evm-precompile-modexp/std",
	"pallet-evm-precompile-sha3fips/std",
	"pallet-evm-precompile-simple/std",
	"pallet-hotfix-sufficients/std",
]
runtime-benchmarks = [
	"frame-benchmarking",
	"frame-system-benchmarking",
	"frame-system/runtime-benchmarks",
	"pallet-balances/runtime-benchmarks",
	"pallet-grandpa/runtime-benchmarks",
	"pallet-timestamp/runtime-benchmarks",
	"pallet-ethereum/runtime-benchmarks",
	"pallet-evm/runtime-benchmarks",
	"pallet-hotfix-sufficients/runtime-benchmarks",
]
