[package]
name = "fp-self-contained"
version = "1.0.0-dev"
license = "Apache-2.0"
description = "Primitive Ethereum abstractions for Substrate."
authors = { workspace = true }
edition = { workspace = true }
repository = { workspace = true }

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
scale-codec = { package = "parity-scale-codec", workspace = true }
scale-info = { workspace = true }
serde = { workspace = true, optional = true }
# Substrate
frame-support = { workspace = true }
sp-runtime = { workspace = true }

[features]
default = ["std"]
std = [
	"scale-codec/std",
	"scale-info/std",
	"serde",
	# Substrate
	"frame-support/std",
	"sp-runtime/std",
]
try-runtime = [
	"sp-runtime/try-runtime",
]
