[package]
name = "fc-db"
version = "2.0.0-dev"
authors = ["Parity Technologies <admin@parity.io>"]
description = "Frontier database backend"
edition = "2021"
license = "GPL-3.0-or-later WITH Classpath-exception-2.0"
repository = "https://github.com/paritytech/frontier/"

[dependencies]
parking_lot = "0.12.0"

codec = { package = "parity-scale-codec", version = "3.0.0", features = ["derive"] }
sc-client-db = { version = "0.10.0-dev", git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.20" }
sp-core = { version = "6.0.0", git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.20" }
sp-database = { version = "4.0.0-dev", git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.20" }
sp-runtime = { version = "6.0.0", git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.20" }

fp-storage = { version = "2.0.0-dev", path = "../../primitives/storage" }

kvdb-rocksdb = { version = "0.15.2", optional = true }
parity-db = { version = "0.3.9", optional = true }

[features]
default = ["kvdb-rocksdb", "parity-db"]
