[package]
name = "precompile-utils-macro"
authors = { workspace = true }
description = ""
edition = "2021"
version = "0.1.0"

[lib]
proc-macro = true

[[test]]
name = "tests"
path = "tests/tests.rs"

[dependencies]
case = "1.0"
num_enum = { workspace = true }
prettyplease = "0.2.32"
proc-macro2 = "1.0"
quote = "1.0"
sp-crypto-hashing = { workspace = true }
syn = "2.0"

[dev-dependencies]
macrotest = "1.1.0"
trybuild = "1.0"

precompile-utils = { path = "../", features = ["testing"] }

fp-evm = { workspace = true }
frame-support = { workspace = true }
