[package]
name = "fp-evm"
version = "3.0.0-dev"
license = "Apache-2.0"
description = "Primitive EVM abstractions for Substrate."
authors = { workspace = true }
edition = { workspace = true }
repository = { workspace = true }

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
evm = { workspace = true, features = ["with-codec"] }
num_enum = { workspace = true, default-features = false }
scale-codec = { package = "parity-scale-codec", workspace = true }
scale-info = { workspace = true }
serde = { workspace = true, optional = true }
cumulus-primitives-storage-weight-reclaim = { workspace = true }
# Substrate
frame-support = { workspace = true }
sp-core = { workspace = true }
sp-runtime = { workspace = true }

[features]
default = ["std"]
std = [
	"evm/std",
	"evm/with-serde",
	"num_enum/std",
	"serde/std",
	"scale-codec/std",
	# Substrate
	"frame-support/std",
	"sp-core/std",
	"cumulus-primitives-storage-weight-reclaim/std",
	"sp-runtime/std",
]
serde = [
	"dep:serde",
	"evm/with-serde",
	"scale-info/serde",
	"sp-core/serde",
	"sp-runtime/serde",
]
