[package]
name = "fp-ethereum"
version = "1.0.0-dev"
license = "Apache-2.0"
description = "Primitive Ethereum types."
authors = { workspace = true }
edition = { workspace = true }
repository = { workspace = true }

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
ethereum = { workspace = true, features = ["with-scale"] }
ethereum-ext = { workspace = true}
ethereum-types = { workspace = true }
scale-codec = { workspace = true }
# Substrate
frame-support = { workspace = true }
# Frontier
fp-evm = { workspace = true }

[features]
default = ["std"]
std = [
	"ethereum/std",
	"ethereum-ext/std",
	"ethereum-types/std",
	"scale-codec/std",
	# Substrate
	"frame-support/std",
	# Frontier
	"fp-evm/std",
]
