[package]
name = "pallet-evm-test-vector-support"
version = "1.0.0-dev"
license = "Apache-2.0"
description = "Test vector support for EVM pallet."
authors = { workspace = true }
edition = { workspace = true }
repository = { workspace = true }

[dependencies]
evm = { version = "0.37.0", features = ["with-codec"] }
hex = "0.4.3"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"

# substrate primitives
sp-core = { version = "7.0.0", git = "https://github.com/paritytech/substrate", branch = "master" }

# frontier primitives
fp-evm = { version = "3.0.0-dev", path = "../../../primitives/evm" }
