[package]
name = "pallet-evm-test-vector-support"
version = "1.0.0-dev"
license = "Apache-2.0"
description = "Test vector support for EVM pallet."
authors = { workspace = true }
edition = { workspace = true }
repository = { workspace = true }

[dependencies]
evm = { workspace = true, features = ["with-codec"] }
hex = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
# Substrate
sp-core = { workspace = true, features = ["default"] }
# Tokfin
fp-evm = { workspace = true, features = ["default"] }
