name: Deploy docs

on:
    push:
        branches:
            - master

jobs:
    release:
        name: Release docs
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@v1
            - name: Rust Setup
              run: |
                scripts/init.sh
                cargo --version
                rustc --version
                cargo +$WASM_BUILD_TOOLCHAIN --version
                rustc +$WASM_BUILD_TOOLCHAIN --version
              env:
                WASM_BUILD_TOOLCHAIN: nightly-2020-08-29

            - name: Build website
              run: |
                cd docs
                yarn install
                yarn run build

            - name: Build rustdocs
              uses: actions-rs/cargo@v1
              with:
                command: doc
                args: --all --no-deps

            - name: Copy rustdocs
              run: |
                cp -r ./target/doc docs/.vuepress/dist/rustdocs

            - name: Deploy documentation
              uses: peaceiris/actions-gh-pages@v3
              with:
                deploy_key: ${{ secrets.ACTIONS_DEPLOY_KEY }}
                publish_branch: gh-pages
                publish_dir: ./docs/.vuepress/dist
                keep_files: true
