name: Editorconfig

on:
  push:
    branches:
      - master
      - 'polkadot-v**'
  pull_request:
    branches:
      - master
      - 'polkadot-v**'

jobs:
  check:
    name: 'Check editorconfig'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: editorconfig-checker/action-editorconfig-checker@main
      - run: editorconfig-checker
