name: Test

on:
  push:
    branches:
      - master
      - 'polkadot-v**'
  pull_request:
    branches:
      - master
      - 'polkadot-v**'
  merge_group:
    branches: master

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always
  RUSTC_WRAPPER: "sccache"
  SCCACHE_GHA_ENABLED: "true"

jobs:
  changes:
    name: Detect Changes
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    outputs:
      precompile-macro: ${{ steps.filter.outputs.precompile-macro }}
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6

      - name: Detect changed paths
        uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            precompile-macro:
              - 'precompiles/macro/**'

  unit-test:
    name: Run Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6

      - name: Cache cargo registry & git sources
        uses: actions/cache@v5
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/
            ~/.cargo/git/db/
          key: ${{ runner.os }}-cargo-unittest-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-unittest-${{ hashFiles('**/Cargo.lock') }}
            ${{ runner.os }}-cargo-unittest-
            ${{ runner.os }}-cargo-

      - name: Run sccache
        uses: mozilla-actions/sccache-action@v0.0.9

      - name: Install Rust toolchain
        run: make setup

      - name: Install protoc
        uses: arduino/setup-protoc@v3
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Run unit tests
        run: make test-release

  integration-test:
    name: Run Integration Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6

      - name: Cache cargo registry & git sources
        uses: actions/cache@v5
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/
            ~/.cargo/git/db/
          key: ${{ runner.os }}-cargo-integration-test-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-integration-test-${{ hashFiles('**/Cargo.lock') }}
            ${{ runner.os }}-cargo-integration-test-
            ${{ runner.os }}-cargo-

      - name: Run sccache
        uses: mozilla-actions/sccache-action@v0.0.9

      - name: Install Rust toolchain
        run: make setup

      - name: Install protoc
        uses: arduino/setup-protoc@v3
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Build client
        run: make build-release

      - name: Setup node.js
        uses: actions/setup-node@v6
        with:
          node-version: 18

      - name: Run integration tests
        run: make integration-test

  precompile-macro-test:
    name: Run Precompile Macro Tests
    needs: changes
    if: ${{ needs.changes.outputs.precompile-macro == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6

      - name: Cache cargo registry & git sources
        uses: actions/cache@v5
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/
            ~/.cargo/git/db/
          key: ${{ runner.os }}-cargo-precompile-macro-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-precompile-macro-${{ hashFiles('**/Cargo.lock') }}
            ${{ runner.os }}-cargo-precompile-macro-
            ${{ runner.os }}-cargo-

      - name: Run sccache
        uses: mozilla-actions/sccache-action@v0.0.9

      - name: Install stable Rust toolchain
        run: make setup

      - name: Install nightly Rust toolchain
        run: rustup install nightly

      - name: Install cargo-expand
        run: cargo +nightly install cargo-expand --force --locked || true

      - name: Run precompile-utils-macro tests
        run: cargo +nightly test -p precompile-utils-macro
